<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>


  <connectionStrings>
<!-- 
    <add name="ConnectionString" connectionString="Data Source=mssql2.unoeuro.com;Initial Catalog=examserver08_dk_db;User ID=examserver08_dk;Password=xf52cmgd" providerName="System.Data.SqlClient" />
  -->
    

<add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\FysData.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" /> 
    
    
  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />


    <customErrors mode="Off" redirectMode="ResponseRewrite" defaultRedirect="~/Errors/Error500.aspx">

      <error statusCode="404" redirect="~/Errors/Error404.aspx" />
      <error statusCode="500" redirect="~/Errors/Error500.aspx" />
    </customErrors>

  </system.web>
  <system.webServer>

    <httpErrors errorMode="Detailed" existingResponse="Replace" defaultResponseMode="ExecuteURL">
      <clear />
      <error statusCode="404" path="404" responseMode="Redirect" />
      <error statusCode="500" path="500" responseMode="Redirect" />
    </httpErrors>
  </system.webServer>


  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>
